/*
  Download font locally
*/
@font-face {
  font-family: "Poppins";
  src: url("./assets/Poppins/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/Poppins/Poppins-ExtraLight.ttf") format("truetype");
}
/* @font-face {
  font-family: "Poppins";
  src: url("./assets/Poppins/Poppins-Bold.ttf");
} */
:root {
  /* --primary-color: #;
  --secondary-color: #;
  --accent-color: #; */
  --white: #fff;
  --font: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
.small {
  font-weight: lighter;
  font-size: 13px;
}
.large {
  font-weight: bold;
  font-size: 36px;
}

body {
  padding: 20px;
  color: #fff;
  background-image: url(./assets/bg.jpeg);
  background-size: cover;
  background-position: center;
  font-family: var(--font);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Single column */
  grid-template-rows: auto 1fr;
  height: 100vh;
  max-height: 100vh;
}
.left {
  grid-row: 1/-1; /* Bottom row */
  grid-column: 2; /* First column */
  /* width: 50%; */
  height: 70%;
  width: 100%;
  justify-self: center;
  align-self: center;
}
.right {
  grid-row: 1; /* Top row */
  grid-column: 3; /* First column */
  justify-self: end; /* Align to the end (right) */
}
.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.67);
  border-radius: 10px;
  gap: 25px;
  background-color: rgba(0, 0, 0, 0.487);
  backdrop-filter: blur(10px);
}
.timer {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: center;
}
.colon {
  align-self: flex-start;
}
.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.controls button {
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease;
  font-weight: 500;
}
.controls button:active {
  opacity: 0.7;
  transform: scale(0.7);
}
.back {
  background-color: rgba(0, 0, 0, 0.687);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100%;
}
.dialogue {
  padding: 30px;
  font-size: 15px;
  background-color: rgb(189, 88, 88);
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}
.hide {
  display: none;
}
.dialogue input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}
.dialogue-buttons {
  display: flex;
  gap: 10px;
}
.dialogue-buttons button,
.btn,
.dialogue-buttons input {
  font-family: var(--font);
  width: 60px;
  border-radius: 8px;
  padding: 7px;
  border: none;
  transition: all ease 0.5s;
}
.dialogue-buttons button:active,
.btn:active {
  opacity: 0.7;
  transform: scale(0.7);
}
.dialogue-buttons button:first-child {
  background-color: transparent;
  border: 1px solid black;
}
.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  gap: 20px;
  border: 2px solid white;
  border-radius: 13px;
  padding: 3px;
}
.active {
  color: rgb(189, 88, 88);
  transition: all ease 0.5s;
  font-size: 18px;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  transition: all ease 0.5s;
}
/* Task Manager */
.w-70 {
  width: 70%;
}
.input-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  justify-content: space-between;
}
.input-cont .todoInput {
  border: none;
  border-bottom: 1px solid white;
  padding: 3px;
  background: transparent;
  color: var(--white);
  outline: none;
  text-transform: capitalize;
  width: 100%;
}
.todoInput::placeholder {
  color: white;
}
.btn {
  background-color: transparent;
  border: 1px solid white;
  color: #fff;
  font-weight: 300;
}
.todo-list {
  margin-top: 20px;
}
.todo {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-text {
  border-bottom: 1px solid white;
  padding: 2px;
  width: 60%;
}
.todo-control {
  width: 50px;
  border: none;
  color: #fff;
  border: 3px;
  border-radius: 3px;
  margin: 2px;
}
.red {
  background: rgb(207, 66, 66);
}
.yellow {
  background: orange;
}
.green {
  background: rgb(18, 167, 18);
}
